/*Base CSS------------------begin*/
input:focus {
	outline: none;
	border-color: #aaaaee;
}

a {
	color: #007bbe;
}

a:hover,
a:focus {
	color: #9edbfc;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a:visited {
	color: #0c2a78;
}

body {
	background: #eaeaea url("../img/main_bg.png") repeat;
	color: #877d7d;
	font: 12px/1.2 Arial, "Nimbus Sans L", Helvetica, sans-serif;
}

.main {
	margin-top: 2.917em;
	margin-bottom: 4.833em;
	padding: 0.667em;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 7px rgba(37,37,37,.5);
}

.cf:after {
	display: table;
	clear: both;
	content: "";
}

.button,
.custom-checkbox-helper:before,
.custom-radio-helper:before {
	padding: .4em 1em;
	outline: none;
	border: 1px solid #b7b7b7;
	border-radius: 0.417em;
	color: #808080;
	text-shadow: 0 1px 1px #fff;
	font: 1em/1 Arial, "Nimbus Sans L", Helvetica, sans-serif;
	font-weight: bold;
}

.input, .select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .4em .667em;
	width: 100%;
	outline: none;
	border: 1px solid #b7b7b7;
	border-radius: 8px;
	background: #fff;
	box-shadow: inset 1px 2px 14px rgba(0,0,0,.08);
	color: #b95b0f;
	text-shadow: 0 1px 1px #fff;
	font-size: 1em;
}

.custom-select-wrap {
	position: relative;
}

.custom-select-wrap .select {
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}

.custom-select-wrap:before {
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -8px;
	width: 12px;
	height: 16px;
	content: url("../img/arrow_down.png");
	pointer-events: none;
}

.custom-checkbox-wrap .checkbox,
.custom-radio-wrap .radio {
	position: absolute;
	opacity: 0;
}

.custom-checkbox-helper,
.custom-radio-helper {
	position: relative;
	padding-left: 2em;
}

.custom-checkbox-helper:before {
	position: absolute;
	top: -.13em;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 0.167em;
	width: 1.333em;
	height: 1.333em;
	border-radius: 3px;
	content: '';
}

.custom-checkbox-wrap .checkbox:checked ~ .custom-checkbox-helper:before {
	content: url("../img/check.png");
}

.custom-radio-helper:before {
	position: absolute;
	top: -.13em;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	width: 1.333em;
	height: 1.333em;
	line-height: 1;
	text-align: center;
	border-radius: 50%;
	content: '';
}

.custom-radio-wrap .radio:checked ~ .custom-radio-helper:before {
	content: '\25cf';
}

.sub-title {
	margin-bottom: .333em;
}

.pagination {
	text-align: center;
}

.pagination-item {
	display: inline-block;
}

.pagination-group-links {
	padding: 0 .8em;
	list-style-type: none;
	counter-reset: pagination-counter;
	text-align: center;
}

.pagination-group-links > li {
	display: inline-block;
}

.pagination-group-links .pagination-link::before {
	content: counter(pagination-counter);
	counter-increment: pagination-counter;
}

.pagination-link {
	color: #b95b0f;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.172em;
}

.pagination-link.active {
	color: #8c6239;
	cursor: default;
}

.prev-link:before, .next-link:after {
	padding: 0 .286em;
	vertical-align: baseline;
	letter-spacing: -.2em;
	font-size: 1.243em;
	font-family: monospace;

}

.prev-link:before {
	content: '\3c\3c';
}

.next-link:after {
	content: '\3e\3e';
}
/*Base CSS--------------------end*/
