/*Base CSS------------------begin*/
input:focus {
	outline: 1px solid #007bbe;
}

a {
	color: #007bbe;
}

a:hover,
a:focus {
	color: #9edbfc;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a:visited {
	color: #0c2a78;
}

body {
	background: #eaeaea url("../img/main_bg.png") repeat;
	font: 12px/1.2 Arial, "Nimbus Sans L", Helvetica, sans-serif;
	color: #877d7d;
}

.main {
	background: #fff;
	padding: 0.667em;
	border-radius: 10px;
	box-shadow: 0 0 7px rgba(37,37,37,.5);
	margin-top: 2.917em;
	margin-bottom: 4.833em;
}

.cf:after {
	content: "";
	display: table;
	clear: both;
}
.input {

}

.select {

}

.checkbox {

}

.radio {

}

.button {

}

.sub-title {

}

.pagination {
	text-align: center;
}

.pagination-item {
	display: inline-block;
}

.pagination-group-links {
	list-style-type: none;
	counter-reset: pagination-counter;
	text-align: center;
	padding: 0 .8em;
}

.pagination-group-links > li {
	display: inline-block;
}

.pagination-group-links .pagination-link::before {
	counter-increment: pagination-counter;
	content: counter(pagination-counter);
}

.pagination-link {
	font-size: 1.172em;
	font-weight: bold;
	color: #b95b0f;
	text-transform: capitalize;
}

.pagination-link.active {
	color: #8c6239;
	cursor: default;
}

.prev-link:before, .next-link:after {
	font-size: 1.243em;
	vertical-align: baseline;
	font-family: monospace;
	letter-spacing: -.2em;
	padding: 0 .286em;

}

.prev-link:before {
	content: '\3c\3c';
}

.next-link:after {
	content: '\3e\3e';
}
/*Base CSS--------------------end*/
