@import "reset.css";
@import "grid.css";
@import "base.css";

/*Main CSS------------------begin*/
.main {
	position: relative;
}

.main-content {
	position: relative;
}

.form-section {
	background-color: #f8f8f8;
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	border-bottom: 1px solid #b3b3b3;
}

.form-section-title {
	margin: 10px 0 10px;
	padding: 4px 12px 4px;
	background-color: #ffd58d;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffbd4b), color-stop(100%, #ffd58d)); /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
	background-image: -webkit-linear-gradient(bottom, #ffbd4b 0%, #ffd58d 100%); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background-image: -moz-linear-gradient(bottom, #ffbd4b 0%, #ffd58d 100%); /* Firefox 3.6 - 15 */
	background-image: -o-linear-gradient(bottom, #ffbd4b 0%, #ffd58d 100%); /* Opera 11.1 - 12 */
	background-image: linear-gradient(bottom, #ffbd4b 0%, #ffd58d 100%); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
	box-shadow: 0 2px 2px #b1915d;
	color: #b95b0f;
	text-align: center;
	text-shadow: 0 1px 1px #ffe4b6;
	font-weight: normal;
	font-size: 1.5em;
}

.form-section-content {
	background-color: #f8f8f8;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.4);*/
}

.form-group {
	position: relative;
	padding: .5em 2.833em .833em 1em;
}

.form-group:before {
	content: '';
	border-top: 1px solid #ccc;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	/*box-shadow: 0 1px 1px 1px #fff;*/
}

.form-group:first-child:before {
	content: none;
}

.form-group legend.sub-title {
	padding-top: .5em;
}

.form-group-line {
	margin-top: 0.333em;
}

.form-group-line:first-child {
	margin-top: 0;
}

.form-icon-img {
	float: left;
	width: 5.167em;
	margin-right: 0.667em;
}

.form-icon-img .img {
	border-radius: 8px;
}

.form-icon-buttons-group {
	display: inline-block;
}

.form-icon-buttons-group .button, .custom-checkbox-helper:before {
	border-color: #a97c3a;
	background-color: #efc392;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fee9cb), color-stop(100%, #fff4e4)); /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
	background-image: -webkit-linear-gradient(bottom, #fee9cb 0%, #fff4e4 100%); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background-image: -moz-linear-gradient(bottom, #fee9cb 0%, #fff4e4 100%); /* Firefox 3.6 - 15 */
	background-image: -o-linear-gradient(bottom, #fee9cb 0%, #fff4e4 100%); /* Opera 11.1 - 12 */
	background-image: linear-gradient(bottom, #fee9cb 0%, #fff4e4 100%); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
	box-shadow: 0 1px 5px rgba(66,60,47,.52);
	color: #a47a3b;
}

.form-icon-buttons-group .button:hover, .form-icon-buttons-group .button:focus, .custom-checkbox-helper:focus:before {
	background-color: #efc392;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fcc87e), color-stop(100%, #fff4e4)); /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
	background-image: -webkit-linear-gradient(bottom, #fcc87e 0%, #fff4e4 100%); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background-image: -moz-linear-gradient(bottom, #fcc87e 0%, #fff4e4 100%); /* Firefox 3.6 - 15 */
	background-image: -o-linear-gradient(bottom, #fcc87e 0%, #fff4e4 100%); /* Opera 11.1 - 12 */
	background-image: linear-gradient(bottom, #fcc87e 0%, #fff4e4 100%); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}

.form-icon-buttons-group .button:focus {
	border-color: #a9571b;
}

.form-icon-buttons-group .full-button-wrap {
	padding-right: 2.5em;
	position: relative;
}

.form-icon-buttons-group .button-upload {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-icon-buttons-group .button-delete {
	text-indent: -9999em;
	position: absolute;
	top: 0;
	right: 0;
}

.form-icon-buttons-group .button-delete:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url("../img/trash.png") center no-repeat;
	pointer-events: none;
}

.form-section:last-of-type {
	padding-bottom: 9.167em;
}

.form-steps.pagination {
	position: absolute;
	bottom: 1.2em;
	width: 100%;
}

.setup-form-submit-button-wrap {
	position: absolute;
	top: 100%;
	margin-top: 1.333em;
	width: 100%;
	text-align: center;
}
/*Main CSS--------------------end*/